<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bouteilles</ion-title>
    <ion-buttons slot="end" *ngIf="!global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="globe" color="light"></ion-icon>ADMIN</ion-button> 
     </ion-buttons>
     <ion-buttons slot="end" *ngIf="global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="wifi" color="light"></ion-icon>{{global.ssid}}</ion-button> 
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item (click)="onChooseStock(0);">
    <ion-icon name="albums" color="primary"></ion-icon>
    <ion-label>Réception de Bouteilles</ion-label>
    <!--<ion-icon [name]="name" color="primary" slot="end"></ion-icon>-->
  </ion-item>
  <ion-item (click)="onChooseStock(1);">
    <ion-icon name="remove" color="primary"></ion-icon>
    <ion-label>Retrait de Bouteilles</ion-label>
  </ion-item>
  <!--<div *ngIf="isStock">
    <ion-item *ngFor="let s of stock;" (click)="gotoBottlesStock(s)">
      <ion-label slot="end">{{s.name}}</ion-label>
    </ion-item>
  </div>-->

  
  
  <!--<ion-item (click)="onAddBottleCeint();">
    
      <ion-icon name="compass" color="primary" ></ion-icon>
    
    <ion-label>Ajouter/Retirer Ceinture</ion-label>
  </ion-item>-->
  <ion-item (click)="onChooseStock(2);">
    <ion-icon name="exit" color="primary"></ion-icon>
    Retour au dépôt
  </ion-item>
  <ion-item (click)="remRack();">
    <ion-icon name="train" color="primary"></ion-icon>
    Retour au fournisseur
  </ion-item>
  
</ion-list>
</ion-content>
