<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  -->
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end" *ngIf="!global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="globe" color="light" (click)="onSynchroB1B2();"></ion-icon>ADMIN</ion-button> 
     </ion-buttons>
     <ion-buttons slot="end" *ngIf="global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="wifi" color="light"></ion-icon>{{global.ssid}}</ion-button> 
     </ion-buttons>-->
     <ion-title>Intervention sur une ceinture</ion-title>
     <!--<ion-buttons slot="end" *ngIf="!global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="globe" color="light" (click)="onSynchroB1B2();"></ion-icon>ADMIN</ion-button> 
     </ion-buttons>
     <ion-buttons slot="end" *ngIf="global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="wifi" color="light"></ion-icon>{{global.ssid}}</ion-button> 
     </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-grid>  
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="8" text-center style="padding-top: 5%;">
        <h4>Intervention sur une ceinture</h4>
      </ion-col>
    </ion-row>  
    
    
  </ion-grid>
 
</ion-content>
<ion-footer>  
  
    <h5 style="font-style: italic; color: #2E7117;">Continuer</h5>
 

</ion-footer>

