.bgdanger {
    background-color: red;
}

.bgsuccess {
    background-color: green;
}
.bgwarning {
    background-color: yellow;
}


ion-input{
    border: solid 1px;
    text-align: center;
 }
 /*.bgred {
	background-color: red;
    color : black;
}*/

