<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end" *ngIf="!global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="globe" color="light" (click)="onSynchroB1B2();"></ion-icon>ADMIN</ion-button> 
     </ion-buttons>
     <ion-buttons slot="end" *ngIf="global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="wifi" color="light"></ion-icon>{{global.ssid}}</ion-button> 
     </ion-buttons>-->
     <ion-title>Intervention sur une ceinture</ion-title>
     <ion-buttons slot="end" *ngIf="!global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="globe" color="light" (click)="onSynchroB1B2();"></ion-icon>ADMIN</ion-button> 
     </ion-buttons>
     <ion-buttons slot="end" *ngIf="global.isBBAM">
      <ion-button fill="clear"> <ion-icon name="wifi" color="light"></ion-icon>{{global.ssid}}</ion-button> 
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>  
    <ion-row style="display: flex; justify-content: center;">
      <ion-col size="8" text-center style="padding-top: 5%;">
        <h4>Intervention sur une ceinture</h4>
      </ion-col>
    </ion-row>  
    <ion-row>        
        <ion-col size="12">
          <fieldset>
            <legend>Objet de l'intervention</legend> 
          
           <ion-select  multiple="true" [(ngModel)]="motive">
              <ion-select-option *ngFor="let motiveOption of motiveOptions" [value]="motiveOption">
                {{motiveOption}}
              </ion-select-option>
            </ion-select>
          </fieldset>
        </ion-col>        
        <ion-col size="12">
          <fieldset>
            <legend>Intervenants</legend> 
          
           <ion-select multiple="true" [(ngModel)]="intervenantsChoisis">
              <ion-select-option *ngFor="let intervenant of intervenants" [value]="intervenant">
                {{intervenant}}
              </ion-select-option>
            </ion-select>
          </fieldset>
        </ion-col>
        <ion-col size="12">
          <fieldset>
            <legend>Sélection ceinture</legend> 
          
           <ion-select [(ngModel)]="ceintureChoisie">
              <ion-select-option *ngFor="let nearUPCName of nearUPCNames" [value]="nearUPCName">
                {{nearUPCName}}
              </ion-select-option>
            </ion-select>
          </fieldset>
        </ion-col>
      
      
       
      
    </ion-row>
    
  </ion-grid>
 
</ion-content>
<ion-footer>
  
  <ion-button color="primary" size="block" (click)="goTo();">Selection ceinture</ion-button>

</ion-footer>

