
  <head> 
    <style>
      .bar {fill: #3498db;}    
      .bar:hover {fill: #2ecc71;}
    
      .axis {font: 10px sans-serif;}
    
      .axis path, .axis line {fill: none; stroke: #000; shape-rendering: crispEdges;}
    
    .legend {padding: 5px; font: 10px sans-serif; background: yellow; box-shadow: 2px 2px 1px #888;}
    
    .tooltip {background: #eee; box-shadow: 0 0 5px #999999; color: #333; font-size: 12px; left: 130px; padding: 10px; position: absolute; text-align: center; top: 95px; z-index: 10; display: block; opacity: 0;
    }</style>
</head>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Programmes</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content class ="ion-padding">
  <ion-card class="ion-padding">							
    <!--<ion-card (click)="getInterventionById();" class="ion-padding">-->							
    <ion-card-header>							
    <ion-card-title>Programmes Aube / Crépuscule</ion-card-title>							
    </ion-card-header>
    <ion-grid>
      <ion-row class="landscaperow"><ion-col size="2.75"></ion-col><ion-col size="2.15">Décalage Début</ion-col><ion-col size="1.8">Durée</ion-col><ion-col>Intensité</ion-col></ion-row>	
      <ion-row>
      <div>	
        <ion-col>						
          <p>Aube</p>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosformhours">Décalage début:</div>	            						
            <ion-select [(ngModel)]="paselect" [ngModelOptions]="{standalone: true}" value="+" style="width:fit-content;" >							
              <ion-select-option value="+">+</ion-select-option>							
              <ion-select-option value="-">-</ion-select-option>							
            </ion-select>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pastart" [ngModelOptions]="{standalone: true}"></ion-datetime>							
            </ion-item>		
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosformhours">Durée :</div>   							
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="paend" [ngModelOptions]="{standalone: true}"></ion-datetime>							
            </ion-item>		
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="paintensity">
              <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>		   				
    </div>	
      </ion-row>		
      <ion-row>		
    <div>	
      <ion-col>						
       <p>Crépuscule</p>	
      </ion-col>
      <ion-col>
        <div class="form">
          <div class="infosformhours">Décalage début :</div>						
          <ion-select [(ngModel)]="pcselect" [ngModelOptions]="{standalone: true}" value="+" >							
            <ion-select-option value="+">+</ion-select-option>							
            <ion-select-option value="-">-</ion-select-option>							
          </ion-select> 
          <ion-item>							
            <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pcstart" [ngModelOptions]="{standalone: true}"></ion-datetime>							
          </ion-item>	
        </div>
      </ion-col>
      <ion-col>
        <div class="form">
          <div class="infosformhours">Durée :</div>	   					
          <ion-item>							
            <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pcend" [ngModelOptions]="{standalone: true}"></ion-datetime>							
          </ion-item>		
        </div>
      </ion-col>
      <ion-col>
        <div class="form">
          <div class="infosform">Intensité :</div>					
          <ion-select [(ngModel)]="pcintensity">
            <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
          </ion-select>	
        </div>
      </ion-col>					
    </div>	
    </ion-row>		   	
    </ion-grid>						
    </ion-card>							
    <ion-card class="ion-padding">							
    <ion-card-header>							
      <ion-card-title>Programmes de diffusion</ion-card-title>							
    </ion-card-header>	
    <ion-grid>		
      <ion-row class="landscaperow"><ion-col size="1"></ion-col><ion-col size="3.15">Fréquence</ion-col><ion-col size="2.5">Début</ion-col><ion-col size="1.80">Fin</ion-col><ion-col>Intensité</ion-col></ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P1</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[0]' [(ngModel)]="frequency2[0]" (ngModelChange)="onEdit(0)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="pStart[0]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(0)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" displayFormat="HH:mm" [(ngModel)]="pEnd[0]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(0)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[0]" (ngModelChange)="onEdit(0)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>	
      <ion-row>
        <div>	
          <ion-col>					
            <p>P2</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[1]' [(ngModel)]="frequency2[1]" (ngModelChange)="onEdit(1)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[1]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(1)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[1]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(1)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[1]" (ngModelChange)="onEdit(1)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P3</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[2]' [(ngModel)]="frequency2[2]" (ngModelChange)="onEdit(2)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[2]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(2)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[2]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(2)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[2]" (ngModelChange)="onEdit(2)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P4</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[3]' [(ngModel)]="frequency2[3]" (ngModelChange)="onEdit(3)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[3]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(3)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[3]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(3)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[3]" (ngModelChange)="onEdit(3)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P5</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[4]' [(ngModel)]="frequency2[4]" (ngModelChange)="onEdit(4)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[4]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(4)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[4]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(4)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[4]" (ngModelChange)="onEdit(4)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P6</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[5]' [(ngModel)]="frequency2[5]" (ngModelChange)="onEdit(5)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[5]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(5)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[5]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(5)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[5]" (ngModelChange)="onEdit(5)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P7</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[6]' [(ngModel)]="frequency2[6]" (ngModelChange)="onEdit(6)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[6]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(6)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[6]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(6)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[6]" (ngModelChange)="onEdit(6)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P8</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[7]' [(ngModel)]="frequency2[7]" (ngModelChange)="onEdit(7)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[7]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(7)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[7]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(7)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[7]" (ngModelChange)="onEdit(7)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P9</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[8]' [(ngModel)]="frequency2[8]" (ngModelChange)="onEdit(8)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[8]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(8)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[8]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(8)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[8]" (ngModelChange)="onEdit(8)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>
      <ion-row>
        <div>	
          <ion-col>					
            <p>P10</p>				
          </ion-col>	
          <ion-col>		
            <div class="form">	
              <div class="infosform">Fréquence :</div>		
              <ion-select *ngIf='frequency2[9]' [(ngModel)]="frequency2[9]" (ngModelChange)="onEdit(9)">
                <ion-select-option *ngFor="let frequencyOption of frequencyOptions" [value]="frequencyOption">{{frequencyOption}}</ion-select-option>
              </ion-select>	
            </div>
          </ion-col>
          <ion-col>	
            <div class="form">	
              <div class="infosformhours">Début :</div>				
              <ion-item>							
                <ion-datetime display-format="HH:mm" [(ngModel)]="pStart[9]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(9)"></ion-datetime>						
              </ion-item>	
            </div>
          </ion-col>
        <ion-col>
          <p class="hoursrange">-</p>	
        </ion-col>
        <ion-col>	
          <div class="form"	>
            <div class="infosformhours">Fin :</div>	
            <ion-item>							
              <ion-datetime value="00:00" display-format="HH:mm" [(ngModel)]="pEnd[9]" [ngModelOptions]="{standalone: true}" (ngModelChange)="onEdit(9)"></ion-datetime>							
            </ion-item>	
          </div>
        </ion-col>
        <ion-col>
          <div class="form">
            <div class="infosform">Intensité :</div>
            <ion-select [(ngModel)]="intensity[9]" (ngModelChange)="onEdit(9)">
               <ion-select-option *ngFor="let intensityOption of intensityOptions" [value]="intensityOption">{{intensityOption}}</ion-select-option>
            </ion-select> 
          </div>
        </ion-col>   					
        </div>
      </ion-row>     							
    <div>			    
      <ion-button (click)="drawChartjs();" color="primary" type="submit" block>Actualiser le graphe</ion-button>												
    </div>
  </ion-grid>							
  </ion-card>		

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Graphique</ion-card-title>
    </ion-card-header>

    <canvas id="myChart"></canvas>
  </ion-card>
</ion-content>

