<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Installation</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"> <ion-icon name="globe" color="light"></ion-icon></ion-button> 
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;">Ajouter des bouteilles</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" style="border-right: solid 3px green;">
        <!--<ion-select placeholder="Type de bouteilles">
          <ion-select-option *ngFor="let bottle of listBottles">
            {{bottle.brand+" "+bottle.designation.toFixed(2)+" kg"}}
          </ion-select-option>
        </ion-select>-->
      <h1 style="text-align: center;">
        B1
      </h1>
      
      </ion-col>
      
      <ion-col size="6">
        <h1 style="text-align: center;">
          B2
        </h1>  
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6" style="border-right: solid 3px green;">
        <ion-list>
          <ion-item (click)="onScanBarCodeB1();">
            <ion-icon color="primary" name="add-circle"></ion-icon>  Ajouter une Bouteille à B1
          </ion-item>
          <div *ngFor="let b1 of global.B1;let i = index;">
          <ion-item  *ngIf="global.B1.length > 0">
            <ion-label>{{b1.designation === 0 ? b1.marque: b1.marque+" "+b1.designation.toFixed()+" kg"}}</ion-label>
            <ion-select placeholder="Designation (en kg)" *ngIf="b1.marque === 'Air liquide'" (ionChange)="setDesignationB1(i,$event);">
              <ion-select-option value="10">10 kg</ion-select-option>
              <ion-select-option value="20">20 kg</ion-select-option>
              <ion-select-option value="22.6796">22,68 kg</ion-select-option>
              <ion-select-option value="34">34 kg</ion-select-option>
              
            </ion-select>
            
            <!--<ion-badge color="primary" slot="end">{{'x'+b1.qty}}</ion-badge>-->
          </ion-item>
        </div>
        
        </ion-list>
        <ion-button color="danger" (click)="deleteB1();" size="block">
          Tout Effacer
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-item (click)="onScanBarCodeB2();">
            <ion-icon color="primary" name="add-circle"></ion-icon>  Ajouter une Bouteille à B2
          </ion-item>
          <div *ngFor="let b2 of global.B2;let i = index;">
            <ion-item  *ngIf="global.B2.length > 0"> 
              <ion-label>{{b2.designation === 0 ? b2.marque: b2.marque+' '+b2.designation.toFixed()+' kg'}}</ion-label>
              <ion-select placeholder="Designation (en kg)" *ngIf="b2.marque === 'Air liquide'" (ionChange)="setDesignationB2(i,$event);">
                <ion-select-option value="10">10 kg</ion-select-option>
                <ion-select-option value="20">20 kg</ion-select-option>
                <ion-select-option value="22.6796">22,68 kg</ion-select-option>
                <ion-select-option value="34">34 kg</ion-select-option>
                
              </ion-select>
              
              <!--<ion-badge color="primary">{{'x'+b2.qty}}</ion-badge>-->
            </ion-item>
          </div>
        </ion-list>
        <ion-button color="danger" (click)="deleteB2();" size="block">
          Tout Effacer
        </ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <ion-button size="block" color="primary" (click)="refill();"> Ajouter des bouteilles</ion-button>
  <ion-button size="block" color="secondary" (click)="onContinue();">Ne pas Ajouter de bouteilles</ion-button>
</ion-content>
